<!DOCTYPE html>
<html lang="en">

<head>
      {{>links}}
</head>

<body>
    <!-- nav start -->
    {{>nav}}
    <!-- main header start -->
    <div class="container-fluid main-header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left div -->
                    <div class="col-md-6 col-12 main-header-right bheight align-items-center">
                        <figure>
                            <img src="images/profile2.jpg" alt="profile images" class="img-fluid">
                        </figure>

                    </div>
                      <!-- right div -->
                    <div class="col-md-6 col-12 main-header-left">
                        <h1>I am a <span class="text_clr"> MERN </span>Developer</h1>
                        {{!-- <a href="/more" target="_raju"><button>About me</button></a> --}}

                    </div>
                  
                   
                </div>
            </div>
        </div>
    </div>

    <!-- footer code -->
   {{>footer}}



</body>

</html>